/* Reset and full size */
body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Grid layout */
body {
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: 550px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
}

/* Header */
.header {
    grid-area: header;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 2em;
	display: flex;
	align-items: center;
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
    padding: 10px;
    background-color: #f2f2f2;
    overflow-y: auto;
}

.sidebar h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.sidebar ul {
    list-style: none;
    padding-left: 5px;
    margin-bottom: 15px;
}

.sidebar li {
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.sidebar li:hover {
    background-color: #ddd;
}

/* Content area */
.content { 
    grid-area: content;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


/*Map */
#map {
    flex: 1;  /*fill available vertical space */
    width: 100%;
    margin-bottom: 10px;
}


/* Chart */
#variableChart {
    width: 100%;
    height: 300px;
}

/* Footer */
.footer {
    grid-area: footer;
    padding: 10px;
    background-color: rgb(175, 175, 175);
}