.hero {
    width: 100%;
    height: 100vh;
    background-image: url('../data/images/1993_Mauro.jpg');
    background-size: cover;
    background-position: center 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding: 0;
    overflow: hidden;
    margin: 0;
}

a, button {
    cursor: pointer;
}

/* default style for variable items */
#categories-container li {
    padding: 0px 10px;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
}

/* style for clicked/active variable */
#categories-container li.active {
    background-color: rgb(189, 168, 168); /* blue highlight */
    color: white;
    font-weight: bold;
}



.about-btn {
    position: absolute;
    top: 50px;           /* distance from top */
    left: 50%;
    transform: translateX(-50%);  /* perfect horizontal centering */
    padding: 20px 30px;
    color: #9e8576;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
    transition: background-color 0.3s ease;
}

.data-btn {
    position: absolute;  /* position relative to .hero */
    top: 50px;           /* distance from top */
    left: 42%;         /* distance from right */
    transform: translateX(-50%);  /* perfect horizontal centering */
    padding: 20px 30px;
    color: #9e8576;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
    transition: background-color 0.3s ease;
}

.map-btn {
    position: absolute;  /* position relative to .hero */
    top: 50px;           /* distance from top */
    left: 58%;         /* distance from right */
    transform: translateX(-50%);  /* perfect horizontal centering */
    padding: 20px 30px;
    color: #9e8576;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
    transition: background-color 0.3s ease;
}



.about{
    margin: 10px;   /* centers container horizontally */
}



.about-page{

}

.data-page{

}




.hero-text {
    color: #ded3d6;
    font-family: monospace;
    font-size: 3.3rem;
    letter-spacing: 0.08em;
    font-weight: 600;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%); /* centers horizontally and vertically */
}

.hero-credits {
    color: #aca3a5;
    font-family: monospace;
    font-size: large;
    position: absolute;
    bottom: 30px;
    right: 50px;
}


/* Push dashboard below hero */
.page-wrapper {
    display: grid;
    grid-template-columns: 780px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        /* "header header" */
        "sidebar content"
        "footer footer";

    overflow-x: hidden;  
    width: 100vw;
    height: 100vh; 
}



/* Reset and full size */
body, html {
    width: 100%;
    height: 100%;
    font-family: monospace; 
    margin: 0px;
    padding: 0;
}




/* Header */
.header {
    grid-area: header;
    padding: 50px;
    background-color: #333;
    color: white;
    font-size: 60em;
	display: flex;
	align-items: center;
}

/* Sidebar */
#sidebar {
    grid-area: sidebar;
    background-color: white;
    font-family: monospace;
    margin: 20px;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: auto;  
    font-size: large;
}

#sidebar ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}




/* Content area */
.content { 
    grid-area: content;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    overflow: hidden; 
    padding-right: 10px; 
}


/*Map */
#map {
    flex: 1;  /*fill available vertical space */
    width: 100%;
    margin: 10px;
    min-width: 0;      
}



/* Chart */
#variableChart {
    width: 100%;
    height: 500px;
    padding: 10px 0px 0px 10px;  /* top, right, bottom, left */    ;
}



/* Footer */
.footer {
    grid-area: footer;
    padding: 10px 0;
    background-color: lightgrey;
    display: flex;
    text-align: center;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    justify-content: center;
    width: 100%;
}




.logo img{
    width: 100px; 
    height: auto;
    margin-left: 7px;
}

.info.legend {
    background: white;
    padding: 8px;
    border-radius: 4px;
    line-height: 16px;
    font-size: 13px;
}
.info.legend i {
    width: 20px;
    height: 10px;
    float: left;
    margin-right: 6px;
}

.data-table {
  border-collapse: collapse; /* keeps borders clean */
}

.data-table th,
.data-table td {
  padding: 8px 32px;  /* ↑ vertical | ↑ horizontal spacing */
  text-align: left;


}

.data-table td:nth-child(2) {
  font-style: italic;
}

