.hero {

    width: 100%;
    height: 100vh;
    background-image: url('../../data/images/camino_15.jpg');
    background-size: cover;
    background-position: center 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding: 0;
    overflow: hidden;
    margin: 0;
}

.hero.fade-out {
    opacity: 0;                 /* fade out */
    pointer-events: none;       /* allow clicks to pass through */
}

.hero-text {
    color: white;
    transform: translateY(-20px); /* move title UP 50px */
    font-family: monospace;
    font-size: x-large;
}

/* Push dashboard below hero */
.page-wrapper {
    display: grid;
    grid-template-columns: 650px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        /* "header header" */
        "sidebar content"
        "footer footer";
    gap: 0;
    width: 100%;

    transform: translateY(50px); /* start slightly down */
    opacity: 0;
    transition: opacity 0.8s ease;
    z-index: 1;  /* below hero while fading */
}

.page-wrapper.visible {
    opacity: 1;
    transform: translateY(0);    /* moves to normal position */
}

/* Reset and full size */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: monospace; /* or whatever font you want */
}

/* Grid layout */
body {
    display: block;
}

/* Header */
.header {
    grid-area: header;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 2em;
	display: flex;
	align-items: center;
}

/* Sidebar */
#sidebar {
    grid-area: sidebar;
    background-color: white;
    overflow-y: auto;
    padding: 15px 1px 1px 1px;  /* top, right, bottom, left */               
    font-family: monospace;
}


/* Content area */
.content { 
    grid-area: content;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


/*Map */
#map {
    flex: 1;  /*fill available vertical space */
    width: 100%;
    margin-bottom: 0px;    
    min-height: 800px; /* adjust as needed */
}


/* Chart */
#variableChart {
    width: 100%;
    height: 300px;
    padding: 10px 0px 0px 40px;  /* top, right, bottom, left */    ;
}

/* Footer */
.footer {
    grid-area: footer;
    height: 60%;
    padding: 10px;
    padding-left: 10px;
    background-color: lightgray;
    display: flex;
    text-align: center;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    justify-content: center;
}

.logo img{
    width: 100px; 
    height: auto;
    margin-left: 7px;
}